# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\koksj\Documents\HAN\HBO-ICT\20-21-basissemesters\OOSE\GitHub\OOSE\OOAD\6 - Mapping Design To Code\6.2.1 - POS\POS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
